In [1]:
import numpy as np
import pandas as pd

from IPython.display import display
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv("Data/vehicles.csv")
data_preprocessed = data.copy()

display(data.head(15))
display(data.info())

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
5,7222379453,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1600,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
6,7221952215,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
7,7220195662,https://hudsonvalley.craigslist.org/cto/d/poug...,hudson valley,https://hudsonvalley.craigslist.org,15995,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
8,7209064557,https://medford.craigslist.org/cto/d/grants-pa...,medford-ashland,https://medford.craigslist.org,5000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,or,NaN,NaN,NaN
9,7219485069,https://erie.craigslist.org/cto/d/erie-2012-su...,erie,https://erie.craigslist.org,3000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,pa,NaN,NaN,NaN
10,7218893038,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
11,7218325704,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
12,7217788283,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
13,7217147606,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
14,7209027818,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

None

In [3]:
data_preprocessed.insert(len(data_preprocessed.columns) - 1, "price", data_preprocessed.pop("price"))
drop_columns = ["id", "url", "region", "region_url", "VIN", "size", "image_url", "description", "county", "state", "lat", "long", "posting_date"]
data_preprocessed = data_preprocessed.drop(columns=drop_columns)

display(data_preprocessed.head(15))

,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11900
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21000
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4900
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1600
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15995
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5000
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
display(data_preprocessed["condition"].value_counts())

data_preprocessed["condition"] = data_preprocessed["condition"].apply(lambda x: "new" if x == "like new" else x)
data_preprocessed["condition"] = data_preprocessed["condition"].apply(lambda x: "good" if x == "fair" else x)
data_preprocessed["condition"] = data_preprocessed["condition"].replace("salvage", np.nan)

display(data_preprocessed["condition"].value_counts())

good         121456
excellent    101467
like new      21178
fair           6769
new            1305
salvage         601
Name: condition, dtype: int64

good         128225
excellent    101467
new           22483
Name: condition, dtype: int64

In [5]:
display(data_preprocessed["cylinders"].value_counts())

data_preprocessed["cylinders"] = data_preprocessed["cylinders"].apply(lambda x: x if x in ("4 cylinders", "6 cylinders", "8 cylinders") else np.nan)

display(data_preprocessed["cylinders"].value_counts())

6 cylinders     94169
4 cylinders     77642
8 cylinders     72062
5 cylinders      1712
10 cylinders     1455
other            1298
3 cylinders       655
12 cylinders      209
Name: cylinders, dtype: int64

6 cylinders    94169
4 cylinders    77642
8 cylinders    72062
Name: cylinders, dtype: int64

In [6]:
display(data_preprocessed["drive"].value_counts())

data_preprocessed["drive"] = data_preprocessed["drive"].fillna("awd")

display(data_preprocessed["drive"].value_counts())

4wd    131904
fwd    105517
rwd     58892
Name: drive, dtype: int64

4wd    131904
awd    130567
fwd    105517
rwd     58892
Name: drive, dtype: int64

In [7]:
display(data_preprocessed["type"].value_counts())

data_preprocessed["type"] = data_preprocessed["type"].apply(lambda x: "other" if x in ("offroad", "bus") else x)
data_preprocessed["type"] = data_preprocessed["type"].replace("other", np.nan)

display(data_preprocessed["type"].value_counts())

sedan          87056
SUV            77284
pickup         43510
truck          35279
other          22110
coupe          19204
hatchback      16598
wagon          10751
van             8548
convertible     7731
mini-van        4825
offroad          609
bus              517
Name: type, dtype: int64

sedan          87056
SUV            77284
pickup         43510
truck          35279
coupe          19204
hatchback      16598
wagon          10751
van             8548
convertible     7731
mini-van        4825
Name: type, dtype: int64

In [8]:
display(data_preprocessed["paint_color"].value_counts())

data_preprocessed["paint_color"] = data_preprocessed["paint_color"].apply(lambda x: np.nan if x in ("yellow", "orange", "purple") else x)

display(data_preprocessed["paint_color"].value_counts())

white     79285
black     62861
silver    42970
blue      31223
red       30473
grey      24416
green      7343
custom     6700
brown      6593
yellow     2142
orange     1984
purple      687
Name: paint_color, dtype: int64

white     79285
black     62861
silver    42970
blue      31223
red       30473
grey      24416
green      7343
custom     6700
brown      6593
Name: paint_color, dtype: int64

In [9]:
data_preprocessed = data_preprocessed.dropna()

display(data_preprocessed.head(15))
display(data_preprocessed.info())

,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,price
27,2014.0,gmc,sierra 1500 crew cab slt,good,8 cylinders,gas,57923.0,clean,other,awd,pickup,white,33590
28,2010.0,chevrolet,silverado 1500,good,8 cylinders,gas,71229.0,clean,other,awd,pickup,blue,22590
29,2020.0,chevrolet,silverado 1500 crew,good,8 cylinders,gas,19160.0,clean,other,awd,pickup,red,39590
30,2017.0,toyota,tundra double cab sr,good,8 cylinders,gas,41124.0,clean,other,awd,pickup,red,30990
31,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,128000.0,clean,automatic,rwd,truck,black,15000
32,2012.0,gmc,sierra 2500 hd extended cab,good,8 cylinders,gas,68696.0,clean,other,4wd,pickup,black,27990
33,2016.0,chevrolet,silverado 1500 double,good,6 cylinders,gas,29499.0,clean,other,4wd,pickup,silver,34590
34,2019.0,toyota,tacoma,excellent,6 cylinders,gas,43000.0,clean,automatic,4wd,truck,grey,35000
35,2016.0,chevrolet,colorado extended cab,good,6 cylinders,gas,17302.0,clean,other,4wd,pickup,red,29990
39,2017.0,chevrolet,silverado 1500 regular,good,6 cylinders,gas,40784.0,clean,other,awd,pickup,white,24590
42,2016.0,chevrolet,camaro ss coupe 2d,good,8 cylinders,gas,9704.0,clean,other,rwd,coupe,red,37990
45,2018.0,nissan,frontier crew cab pro-4x,good,6 cylinders,gas,37332.0,clean,other,4wd,pickup,silver,27990
47,2018.0,ford,f150 super cab xl pickup 4d,good,6 cylinders,gas,20856.0,clean,other,awd,pickup,white,34590
51,2017.0,ram,1500 regular cab tradesman,good,8 cylinders,gas,39508.0,clean,other,awd,pickup,white,22590
55,2004.0,ford,f250 super duty,good,8 cylinders,diesel,88000.0,clean,automatic,4wd,pickup,blue,19900

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119453 entries, 27 to 426878
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          119453 non-null  float64
 1   manufacturer  119453 non-null  object
 2   model         119453 non-null  object
 3   condition     119453 non-null  object
 4   cylinders     119453 non-null  object
 5   fuel          119453 non-null  object
 6   odometer      119453 non-null  float64
 7   title_status  119453 non-null  object
 8   transmission  119453 non-null  object
 9   drive         119453 non-null  object
 10  type          119453 non-null  object
 11  paint_color   119453 non-null  object
 12  price         119453 non-null  int64
dtypes: float64(2), int64(1), object(10)
memory usage: 12.8+ MB

None

In [10]:
data_preprocessed = data_preprocessed.drop(data_preprocessed[data_preprocessed["year"] < 2000].index)
data_preprocessed = data_preprocessed.drop(data_preprocessed[data_preprocessed["year"] > 2020].index)
data_preprocessed = data_preprocessed.drop(data_preprocessed[data_preprocessed["price"] < 1000].index)
data_preprocessed = data_preprocessed.drop(data_preprocessed[data_preprocessed["price"] > 50000].index)
data_preprocessed = data_preprocessed.drop(data_preprocessed[data_preprocessed["odometer"] > 300000].index)

data_preprocessed["price"] = data_preprocessed["price"].astype(np.float64)
data_preprocessed["year"] = data_preprocessed["year"].astype(np.int64)

display(data_preprocessed.head(15))
display(data_preprocessed.info())

,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,price
27,2014,gmc,sierra 1500 crew cab slt,good,8 cylinders,gas,57923.0,clean,other,awd,pickup,white,33590.0
28,2010,chevrolet,silverado 1500,good,8 cylinders,gas,71229.0,clean,other,awd,pickup,blue,22590.0
29,2020,chevrolet,silverado 1500 crew,good,8 cylinders,gas,19160.0,clean,other,awd,pickup,red,39590.0
30,2017,toyota,tundra double cab sr,good,8 cylinders,gas,41124.0,clean,other,awd,pickup,red,30990.0
31,2013,ford,f-150 xlt,excellent,6 cylinders,gas,128000.0,clean,automatic,rwd,truck,black,15000.0
32,2012,gmc,sierra 2500 hd extended cab,good,8 cylinders,gas,68696.0,clean,other,4wd,pickup,black,27990.0
33,2016,chevrolet,silverado 1500 double,good,6 cylinders,gas,29499.0,clean,other,4wd,pickup,silver,34590.0
34,2019,toyota,tacoma,excellent,6 cylinders,gas,43000.0,clean,automatic,4wd,truck,grey,35000.0
35,2016,chevrolet,colorado extended cab,good,6 cylinders,gas,17302.0,clean,other,4wd,pickup,red,29990.0
39,2017,chevrolet,silverado 1500 regular,good,6 cylinders,gas,40784.0,clean,other,awd,pickup,white,24590.0
42,2016,chevrolet,camaro ss coupe 2d,good,8 cylinders,gas,9704.0,clean,other,rwd,coupe,red,37990.0
45,2018,nissan,frontier crew cab pro-4x,good,6 cylinders,gas,37332.0,clean,other,4wd,pickup,silver,27990.0
47,2018,ford,f150 super cab xl pickup 4d,good,6 cylinders,gas,20856.0,clean,other,awd,pickup,white,34590.0
51,2017,ram,1500 regular cab tradesman,good,8 cylinders,gas,39508.0,clean,other,awd,pickup,white,22590.0
55,2004,ford,f250 super duty,good,8 cylinders,diesel,88000.0,clean,automatic,4wd,pickup,blue,19900.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102502 entries, 27 to 426878
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          102502 non-null  int64
 1   manufacturer  102502 non-null  object
 2   model         102502 non-null  object
 3   condition     102502 non-null  object
 4   cylinders     102502 non-null  object
 5   fuel          102502 non-null  object
 6   odometer      102502 non-null  float64
 7   title_status  102502 non-null  object
 8   transmission  102502 non-null  object
 9   drive         102502 non-null  object
 10  type          102502 non-null  object
 11  paint_color   102502 non-null  object
 12  price         102502 non-null  float64
dtypes: float64(2), int64(1), object(10)
memory usage: 10.9+ MB

None

In [11]:
le = LabelEncoder()
for column in data_preprocessed.columns:
    if data_preprocessed[column].dtype == "object":
        le.fit(data_preprocessed[column])
        data_preprocessed[column] = le.transform(data_preprocessed[column])
        data_preprocessed[column] = data_preprocessed[column].astype(np.int64)

display(data_preprocessed.head(15))

,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,price
27,2014,11,7315,1,2,2,57923.0,0,2,1,5,8,33590.0
28,2010,6,7437,1,2,2,71229.0,0,2,1,5,1,22590.0
29,2020,6,7449,1,2,2,19160.0,0,2,1,5,6,39590.0
30,2017,34,8609,1,2,2,41124.0,0,2,1,5,6,30990.0
31,2013,10,3695,0,1,2,128000.0,0,0,3,7,0,15000.0
32,2012,11,7362,1,2,2,68696.0,0,2,0,5,0,27990.0
33,2016,6,7455,1,1,2,29499.0,0,2,0,5,7,34590.0
34,2019,34,7994,0,1,2,43000.0,0,0,0,7,5,35000.0
35,2016,6,2346,1,1,2,17302.0,0,2,0,5,6,29990.0
39,2017,6,7482,1,1,2,40784.0,0,2,1,5,8,24590.0
42,2016,6,1912,1,2,2,9704.0,0,2,3,2,6,37990.0
45,2018,27,4398,1,1,2,37332.0,0,2,0,5,7,27990.0
47,2018,10,3912,1,1,2,20856.0,0,2,1,5,8,34590.0
51,2017,30,138,1,2,2,39508.0,0,2,1,5,8,22590.0
55,2004,10,4019,1,2,0,88000.0,0,0,0,5,1,19900.0

In [12]:
data_preprocessed.to_csv("Data/vehicles_preprocessed.csv")