In [1]:
import pandas as pd

from IPython.display import display
from math import sqrt
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

from keras.models import Sequential
from keras.layers import Dense, Dropout

seed = 42

In [2]:
data = pd.read_csv("Data/vehicles_preprocessed.csv", index_col=0)

display(data.head(15))

,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,price
27,2014,11,7315,1,2,2,57923.0,0,2,1,5,8,33590.0
28,2010,6,7437,1,2,2,71229.0,0,2,1,5,1,22590.0
29,2020,6,7449,1,2,2,19160.0,0,2,1,5,6,39590.0
30,2017,34,8609,1,2,2,41124.0,0,2,1,5,6,30990.0
31,2013,10,3695,0,1,2,128000.0,0,0,3,7,0,15000.0
32,2012,11,7362,1,2,2,68696.0,0,2,0,5,0,27990.0
33,2016,6,7455,1,1,2,29499.0,0,2,0,5,7,34590.0
34,2019,34,7994,0,1,2,43000.0,0,0,0,7,5,35000.0
35,2016,6,2346,1,1,2,17302.0,0,2,0,5,6,29990.0
39,2017,6,7482,1,1,2,40784.0,0,2,1,5,8,24590.0
42,2016,6,1912,1,2,2,9704.0,0,2,3,2,6,37990.0
45,2018,27,4398,1,1,2,37332.0,0,2,0,5,7,27990.0
47,2018,10,3912,1,1,2,20856.0,0,2,1,5,8,34590.0
51,2017,30,138,1,2,2,39508.0,0,2,1,5,8,22590.0
55,2004,10,4019,1,2,0,88000.0,0,0,0,5,1,19900.0

In [3]:
def evaluate_model(y_expected, y_predicted):
    return r2_score(y_expected, y_predicted), mean_absolute_error(y_expected, y_predicted), mean_squared_error(y_expected, y_predicted), sqrt(mean_squared_error(y_expected, y_predicted))

x = data.iloc[:, :-1]
y = data.iloc[:, -1:]

scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=seed)

display(pd.DataFrame(x_train[:15]))
display(pd.DataFrame(x_test[:15]))

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.260803,0.196313,0.500029,0.494224,-1.234329,2.002736,-0.532745,-0.224011,-0.471380,0.599768,0.684980,-1.450103
1,0.857795,-0.670323,-1.497838,2.005666,-1.234329,0.072319,-0.826198,-0.224011,-0.471380,0.599768,-1.444403,1.091317
2,-2.326159,1.737000,0.744246,0.494224,-1.234329,0.072319,-0.275689,-0.224011,-0.471380,0.599768,-1.444403,-0.179393
3,1.454786,-0.959202,-0.441844,2.005666,1.360232,0.072319,-1.653198,-0.224011,-0.471380,1.463688,1.394774,1.091317
4,0.260803,0.100021,-0.898326,2.005666,-1.234329,0.072319,-0.694740,-0.224011,-0.471380,-1.128072,-1.444403,0.773639
5,-1.729168,0.100021,1.557924,0.494224,0.062952,0.072319,0.082225,-0.224011,0.925197,-1.128072,-1.444403,0.773639
6,0.260803,-0.188858,0.892983,0.494224,-1.234329,0.072319,-0.448228,-0.224011,2.321773,-1.128072,1.749671,0.138285
7,0.658798,1.737000,1.242191,0.494224,0.062952,0.072319,0.041947,-0.224011,-0.471380,-1.128072,1.039877,0.138285
8,1.255789,0.196313,1.159263,-1.017217,-1.234329,0.072319,-0.362433,-0.224011,-0.471380,0.599768,-1.444403,0.455962
9,0.857795,-0.188858,1.126169,-1.017217,-1.234329,0.072319,-1.683767,-0.224011,-0.471380,0.599768,0.684980,-1.450103
10,-0.734182,-0.477737,-1.377631,-1.017217,0.062952,0.072319,0.985032,-0.224011,-0.471380,-1.128072,-1.444403,-1.450103
11,-0.734182,-0.477737,0.978573,-1.017217,1.360232,0.072319,0.724635,-0.224011,-0.471380,-1.128072,0.330083,-1.132425
12,0.658798,-0.477737,-1.368501,-1.017217,0.062952,0.072319,-0.210197,-0.224011,-0.471380,0.599768,-1.444403,0.773639
13,0.061806,1.737000,-1.056953,-1.017217,0.062952,0.072319,-0.046467,-0.224011,-0.471380,0.599768,0.684980,-1.132425
14,-0.336188,1.737000,0.956129,-1.017217,1.360232,0.072319,2.420468,-0.224011,-0.471380,-1.128072,-1.444403,1.091317

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.729168,1.062950,1.677370,0.494224,0.062952,0.072319,1.099642,-0.224011,0.925197,-1.128072,-1.444403,1.091317
1,0.061806,-0.574030,-0.670085,-1.017217,1.360232,0.072319,-0.162896,-0.224011,-0.471380,1.463688,1.039877,1.091317
2,0.658798,1.351828,-1.783138,-1.017217,1.360232,0.072319,-0.402514,-0.224011,-0.471380,-0.264152,0.330083,0.138285
3,-0.336188,-0.766616,-0.000199,-1.017217,0.062952,0.072319,-0.242943,-0.224011,-0.471380,0.599768,-0.024815,-1.132425
4,0.658798,-0.477737,-1.371925,0.494224,0.062952,0.072319,0.526588,-0.224011,-0.471380,0.599768,-1.444403,0.455962
5,0.857795,-0.477737,1.001017,0.494224,1.360232,0.072319,-1.304077,-0.224011,2.321773,-1.128072,0.330083,-1.450103
6,-1.530171,1.737000,1.482604,-1.017217,1.360232,0.072319,2.984895,-0.224011,-0.471380,-1.128072,0.330083,0.138285
7,0.857795,-0.477737,0.992267,0.494224,1.360232,0.072319,-1.279550,-0.224011,2.321773,-0.264152,0.330083,1.091317
8,-0.734182,-0.574030,1.225834,-1.017217,1.360232,-3.788517,-0.378430,-0.224011,-0.471380,-1.128072,0.330083,1.091317
9,0.061806,-1.536959,1.357452,0.494224,0.062952,0.072319,-0.161062,-0.224011,-0.471380,0.599768,0.684980,0.138285
10,-0.137191,0.677778,-0.934083,0.494224,1.360232,0.072319,-0.587693,-0.224011,-0.471380,-0.264152,-0.734609,-1.450103
11,0.061806,-0.188858,1.126169,-1.017217,-1.234329,0.072319,-0.028457,-0.224011,-0.471380,0.599768,0.684980,-1.450103
12,-0.734182,-0.574030,-0.373372,-1.017217,1.360232,0.072319,0.854048,-0.224011,-0.471380,-1.128072,0.330083,0.773639
13,-0.535185,-0.766616,-0.999512,0.494224,0.062952,0.072319,0.133636,-0.224011,-0.471380,1.463688,0.684980,-1.450103
14,0.061806,1.737000,-1.066843,2.005666,-1.234329,0.072319,0.293813,-0.224011,-0.471380,0.599768,0.684980,-1.132425

In [4]:
model = LinearRegression()
model.fit(x_train, y_train)
y_predicted = model.predict(x_test)

results = [["Linear Regression"] + list(evaluate_model(y_test, y_predicted))]
linear_results = pd.DataFrame(results, columns=["Model", "R2 Score", "MAE", "MSE", "RMSE"])
display(linear_results)

               Model  R2 Score          MAE           MSE         RMSE
0  Linear Regression  0.747472  4463.225674  3.452795e+07  5876.048453

In [5]:
poly = PolynomialFeatures(degree=3)
x_train_poly = pd.DataFrame(poly.fit_transform(x_train))
x_test_poly = pd.DataFrame(poly.fit_transform(x_test))

model.fit(x_train_poly, y_train)
y_poly_predicted = model.predict(x_test_poly)

results = [["Polynomial Regression"] + list(evaluate_model(y_test, y_poly_predicted))]
polynomial_3_results = pd.DataFrame(results, columns=["Model", "R2 Score", "MAE", "MSE", "RMSE"])
display(polynomial_3_results)

                   Model  R2 Score          MAE           MSE         RMSE
0  Polynomial Regression  0.851222  3195.768215  2.034235e+07  4510.249818

In [6]:
poly = PolynomialFeatures(degree=5)
x_train_poly = pd.DataFrame(poly.fit_transform(x_train))
x_test_poly = pd.DataFrame(poly.fit_transform(x_test))

ridge = Ridge(alpha=1500)
ridge.fit(x_train_poly, y_train)
y_poly_predicted = ridge.predict(x_test_poly)

results = [["Polynomial Regression (l2 regularization)"] + list(evaluate_model(y_test, y_poly_predicted))]
polynomial_5_results = pd.DataFrame(results, columns=["Model", "R2 Score", "MAE", "MSE", "RMSE"])
display(polynomial_5_results)

,Model,R2 Score,MAE,MSE,RMSE
0,Polynomial Regression (l2 regularization),0.880727,2681.562769,1.630808e+07,4038.326404

In [7]:
forest = RandomForestRegressor(n_estimators=100, random_state=seed)
forest.fit(x_train, y_train.to_numpy().ravel())
y_forest_predicted = forest.predict(x_test)

results = [["Random Forest Regression"] + list(evaluate_model(y_test, y_forest_predicted))]
forest_results = pd.DataFrame(results, columns=["Model", "R2 Score", "MAE", "MSE", "RMSE"])
display(forest_results)

                      Model  R2 Score          MAE           MSE         RMSE
0  Random Forest Regression  0.941116  1495.928155  8.051206e+06  2837.464654

In [8]:
knn = KNeighborsRegressor(n_neighbors=3)
knn.fit(x_train, y_train)
y_knn_predicted = knn.predict(x_test)

results = [["K Nearest Neighbors Regression"] + list(evaluate_model(y_test, y_knn_predicted))]
knn_results = pd.DataFrame(results, columns=["Model", "R2 Score", "MAE", "MSE", "RMSE"])
display(knn_results)

,Model,R2 Score,MAE,MSE,RMSE
0,K Nearest Neighbors Regression,0.900612,2027.600865,1.358932e+07,3686.369676

In [9]:
nn = Sequential()
nn.add(Dense(512, activation='relu', input_shape=(12,)))
nn.add(Dropout(0.2))
nn.add(Dense(128, activation="relu"))
nn.add(Dropout(0.2))
nn.add(Dense(256, activation="relu"))
nn.add(Dropout(0.2))
nn.add(Dense(64, activation='relu'))
nn.add(Dropout(0.2))
nn.add(Dense(1, activation="linear"))
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 512)               6656

 dropout (Dropout)           (None, 512)               0

 dense_1 (Dense)             (None, 128)               65664

 dropout_1 (Dropout)         (None, 128)               0

 dense_2 (Dense)             (None, 256)               33024

 dropout_2 (Dropout)         (None, 256)               0

 dense_3 (Dense)             (None, 64)                16448

 dropout_3 (Dropout)         (None, 64)                0

 dense_4 (Dense)             (None, 1)                 65

=================================================================
Total params: 121,857
Trainable params: 121,857
Non-trainable params: 0
_________________________________________________________________

In [10]:
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["mean_absolute_error"])
nn.fit(x_train, y_train, epochs=100, batch_size=64)
y_nn_predicted = nn.predict(x_test)

results = [["Neural Network Regression"] + list(evaluate_model(y_test, y_nn_predicted))]
nn_results = pd.DataFrame(results, columns=["Model", "R2 Score", "MAE", "MSE", "RMSE"])
display(nn_results)

Epoch 1/100
1282/1282 [==============================] - 7s 4ms/step - loss: 46114356.0000 - mean_absolute_error: 4403.0215
Epoch 2/100
1282/1282 [==============================] - 5s 4ms/step - loss: 27408672.0000 - mean_absolute_error: 3696.6238
Epoch 3/100
1282/1282 [==============================] - 5s 4ms/step - loss: 26824324.0000 - mean_absolute_error: 3649.4746
Epoch 4/100
1282/1282 [==============================] - 5s 4ms/step - loss: 26506938.0000 - mean_absolute_error: 3623.9897
Epoch 5/100
1282/1282 [==============================] - 5s 4ms/step - loss: 26371654.0000 - mean_absolute_error: 3618.4819
Epoch 6/100
1282/1282 [==============================] - 5s 4ms/step - loss: 26064540.0000 - mean_absolute_error: 3588.9380
Epoch 7/100
1282/1282 [==============================] - 4s 3ms/step - loss: 25830156.0000 - mean_absolute_error: 3569.9402
Epoch 8/100
1282/1282 [==============================] - 4s 3ms/step - loss: 25686342.0000 - mean_absolute_error: 3557.0532
Epoch 9/100
1282/1282 [==============================] - 4s 3ms/step - loss: 25531736.0000 - mean_absolute_error: 3547.5583
Epoch 10/100
1282/1282 [==============================] - 4s 3ms/step - loss: 25275134.0000 - mean_absolute_error: 3535.7009
Epoch 11/100
1282/1282 [==============================] - 4s 3ms/step - loss: 25075920.0000 - mean_absolute_error: 3514.6194
Epoch 12/100
1282/1282 [==============================] - 5s 4ms/step - loss: 24989628.0000 - mean_absolute_error: 3506.4900
Epoch 13/100
1282/1282 [==============================] - 4s 3ms/step - loss: 24874578.0000 - mean_absolute_error: 3495.3049
Epoch 14/100
1282/1282 [==============================] - 4s 3ms/step - loss: 24698144.0000 - mean_absolute_error: 3485.9824
Epoch 15/100
1282/1282 [==============================] - 4s 3ms/step - loss: 24694062.0000 - mean_absolute_error: 3479.7207
Epoch 16/100
1282/1282 [==============================] - 4s 3ms/step - loss: 24324560.0000 - mean_absolute_error: 3455.5156
Epoch 17/100
1282/1282 [==============================] - 4s 3ms/step - loss: 24301396.0000 - mean_absolute_error: 3448.7197
Epoch 18/100
1282/1282 [==============================] - 4s 3ms/step - loss: 24241988.0000 - mean_absolute_error: 3442.9399
Epoch 19/100
1282/1282 [==============================] - 4s 3ms/step - loss: 24117108.0000 - mean_absolute_error: 3438.1104
Epoch 20/100
1282/1282 [==============================] - 4s 3ms/step - loss: 23778822.0000 - mean_absolute_error: 3409.7446
Epoch 21/100
1282/1282 [==============================] - 4s 3ms/step - loss: 23915500.0000 - mean_absolute_error: 3420.4609
Epoch 22/100
1282/1282 [==============================] - 4s 3ms/step - loss: 23671770.0000 - mean_absolute_error: 3402.5642
Epoch 23/100
1282/1282 [==============================] - 4s 3ms/step - loss: 23763222.0000 - mean_absolute_error: 3414.3638
Epoch 24/100
1282/1282 [==============================] - 4s 3ms/step - loss: 23513510.0000 - mean_absolute_error: 3389.7561
Epoch 25/100
1282/1282 [==============================] - 4s 3ms/step - loss: 23433862.0000 - mean_absolute_error: 3379.9875
Epoch 26/100
1282/1282 [==============================] - 4s 3ms/step - loss: 23390910.0000 - mean_absolute_error: 3377.5576
Epoch 27/100
1282/1282 [==============================] - 4s 3ms/step - loss: 23202444.0000 - mean_absolute_error: 3359.5244
Epoch 28/100
1282/1282 [==============================] - 4s 3ms/step - loss: 23110068.0000 - mean_absolute_error: 3356.1538
Epoch 29/100
1282/1282 [==============================] - 4s 3ms/step - loss: 23057402.0000 - mean_absolute_error: 3349.8518
Epoch 30/100
1282/1282 [==============================] - 4s 3ms/step - loss: 23003860.0000 - mean_absolute_error: 3342.5774
Epoch 31/100
1282/1282 [==============================] - 4s 3ms/step - loss: 22839348.0000 - mean_absolute_error: 3339.1636
Epoch 32/100
1282/1282 [==============================] - 4s 3ms/step - loss: 22951638.0000 - mean_absolute_error: 3350.3474
Epoch 33/100
1282/1282 [==============================] - 5s 4ms/step - loss: 22636666.0000 - mean_absolute_error: 3323.3008
Epoch 34/100
1282/1282 [==============================] - 4s 3ms/step - loss: 22602924.0000 - mean_absolute_error: 3328.0886
Epoch 35/100
1282/1282 [==============================] - 4s 3ms/step - loss: 22527416.0000 - mean_absolute_error: 3309.8770
Epoch 36/100
1282/1282 [==============================] - 4s 3ms/step - loss: 22580444.0000 - mean_absolute_error: 3314.6375
Epoch 37/100
1282/1282 [==============================] - 4s 4ms/step - loss: 22381246.0000 - mean_absolute_error: 3300.2439
Epoch 38/100
1282/1282 [==============================] - 4s 3ms/step - loss: 22253124.0000 - mean_absolute_error: 3291.0623
Epoch 39/100
1282/1282 [==============================] - 4s 3ms/step - loss: 22366554.0000 - mean_absolute_error: 3297.0264
Epoch 40/100
1282/1282 [==============================] - 4s 3ms/step - loss: 22446894.0000 - mean_absolute_error: 3301.4395
Epoch 41/100
1282/1282 [==============================] - 5s 4ms/step - loss: 22109156.0000 - mean_absolute_error: 3274.9092
Epoch 42/100
1282/1282 [==============================] - 4s 4ms/step - loss: 22304014.0000 - mean_absolute_error: 3288.0017
Epoch 43/100
1282/1282 [==============================] - 4s 3ms/step - loss: 22009598.0000 - mean_absolute_error: 3269.0566
Epoch 44/100
1282/1282 [==============================] - 4s 4ms/step - loss: 22085948.0000 - mean_absolute_error: 3272.1904
Epoch 45/100
1282/1282 [==============================] - 4s 4ms/step - loss: 21972244.0000 - mean_absolute_error: 3258.9919
Epoch 46/100
1282/1282 [==============================] - 5s 4ms/step - loss: 21755536.0000 - mean_absolute_error: 3251.1738
Epoch 47/100
1282/1282 [==============================] - 4s 4ms/step - loss: 21842640.0000 - mean_absolute_error: 3256.2026
Epoch 48/100
1282/1282 [==============================] - 5s 4ms/step - loss: 21761062.0000 - mean_absolute_error: 3248.5186
Epoch 49/100
1282/1282 [==============================] - 5s 4ms/step - loss: 21711538.0000 - mean_absolute_error: 3242.8503
Epoch 50/100
1282/1282 [==============================] - 5s 4ms/step - loss: 21640328.0000 - mean_absolute_error: 3234.0269
Epoch 51/100
1282/1282 [==============================] - 5s 4ms/step - loss: 21630994.0000 - mean_absolute_error: 3237.9001
Epoch 52/100
1282/1282 [==============================] - 5s 4ms/step - loss: 21168612.0000 - mean_absolute_error: 3212.2263
Epoch 53/100
1282/1282 [==============================] - 5s 4ms/step - loss: 21571190.0000 - mean_absolute_error: 3235.2239
Epoch 54/100
1282/1282 [==============================] - 5s 4ms/step - loss: 21473676.0000 - mean_absolute_error: 3222.5803
Epoch 55/100
1282/1282 [==============================] - 5s 4ms/step - loss: 21298042.0000 - mean_absolute_error: 3211.9985
Epoch 56/100
1282/1282 [==============================] - 4s 4ms/step - loss: 21111408.0000 - mean_absolute_error: 3206.3013
Epoch 57/100
1282/1282 [==============================] - 5s 4ms/step - loss: 21202902.0000 - mean_absolute_error: 3198.3809
Epoch 58/100
1282/1282 [==============================] - 5s 4ms/step - loss: 21196378.0000 - mean_absolute_error: 3202.6353
Epoch 59/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20917726.0000 - mean_absolute_error: 3178.7659
Epoch 60/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20914486.0000 - mean_absolute_error: 3183.8372
Epoch 61/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20944226.0000 - mean_absolute_error: 3189.0894
Epoch 62/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20883902.0000 - mean_absolute_error: 3173.5469
Epoch 63/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20637184.0000 - mean_absolute_error: 3164.9675
Epoch 64/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20680070.0000 - mean_absolute_error: 3164.8071
Epoch 65/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20690506.0000 - mean_absolute_error: 3166.8091
Epoch 66/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20655980.0000 - mean_absolute_error: 3157.3396
Epoch 67/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20761818.0000 - mean_absolute_error: 3167.6338
Epoch 68/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20604180.0000 - mean_absolute_error: 3150.8630
Epoch 69/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20516376.0000 - mean_absolute_error: 3144.8457
Epoch 70/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20632864.0000 - mean_absolute_error: 3153.0940
Epoch 71/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20423210.0000 - mean_absolute_error: 3134.9141
Epoch 72/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20345984.0000 - mean_absolute_error: 3136.9966
Epoch 73/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20387030.0000 - mean_absolute_error: 3135.8372
Epoch 74/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20401382.0000 - mean_absolute_error: 3136.2180
Epoch 75/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20373120.0000 - mean_absolute_error: 3132.0793
Epoch 76/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20155064.0000 - mean_absolute_error: 3123.0125
Epoch 77/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20136708.0000 - mean_absolute_error: 3115.8179
Epoch 78/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20142844.0000 - mean_absolute_error: 3121.8459
Epoch 79/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20145162.0000 - mean_absolute_error: 3127.9270
Epoch 80/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20055958.0000 - mean_absolute_error: 3113.1750
Epoch 81/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19902004.0000 - mean_absolute_error: 3102.9380
Epoch 82/100
1282/1282 [==============================] - 5s 4ms/step - loss: 20197180.0000 - mean_absolute_error: 3117.4927
Epoch 83/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19912884.0000 - mean_absolute_error: 3102.1357
Epoch 84/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19928596.0000 - mean_absolute_error: 3098.8264
Epoch 85/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19962254.0000 - mean_absolute_error: 3102.0881
Epoch 86/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19629088.0000 - mean_absolute_error: 3077.4578
Epoch 87/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19883996.0000 - mean_absolute_error: 3098.5569
Epoch 88/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19762182.0000 - mean_absolute_error: 3091.3457
Epoch 89/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19888042.0000 - mean_absolute_error: 3089.6968
Epoch 90/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19547230.0000 - mean_absolute_error: 3073.9294
Epoch 91/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19563918.0000 - mean_absolute_error: 3075.3232
Epoch 92/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19534404.0000 - mean_absolute_error: 3072.3376
Epoch 93/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19285256.0000 - mean_absolute_error: 3052.6755
Epoch 94/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19349766.0000 - mean_absolute_error: 3059.3948
Epoch 95/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19558852.0000 - mean_absolute_error: 3075.4631
Epoch 96/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19367130.0000 - mean_absolute_error: 3057.7695
Epoch 97/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19342106.0000 - mean_absolute_error: 3061.0220
Epoch 98/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19193210.0000 - mean_absolute_error: 3042.1167
Epoch 99/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19235496.0000 - mean_absolute_error: 3047.2046
Epoch 100/100
1282/1282 [==============================] - 5s 4ms/step - loss: 19246010.0000 - mean_absolute_error: 3038.2991
641/641 [==============================] - 1s 1ms/step

                       Model  R2 Score          MAE           MSE         RMSE
0  Neural Network Regression  0.894175  2555.494339  1.446941e+07  3803.867919

In [11]:
all_results = pd.concat([linear_results, polynomial_3_results, polynomial_5_results, forest_results, knn_results, nn_results]).reset_index(drop=True)
display(all_results)

,Model,R2 Score,MAE,MSE,RMSE
0,Linear Regression,0.747472,4463.225674,3.452795e+07,5876.048453
1,Polynomial Regression,0.851222,3195.768215,2.034235e+07,4510.249818
2,Polynomial Regression (l2 regularization),0.880727,2681.562769,1.630808e+07,4038.326404
3,Random Forest Regression,0.941116,1495.928155,8.051206e+06,2837.464654
4,K Nearest Neighbors Regression,0.900612,2027.600865,1.358932e+07,3686.369676
5,Neural Network Regression,0.894175,2555.494339,1.446941e+07,3803.867919